@keyframes popUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes popDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}