* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


/** Navbar **/

nav {
    display: flex;
    padding-top: .65rem;
    padding-bottom: .65rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 12vh;
    z-index: 9999999999999999999999999999999999999999999999999;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

nav .logo {
    flex: 1;
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 14rem;
}

nav ul.nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul.nav-links li a.flag {
    display: flex;
    align-items: center;
}

nav ul.nav-links li a.flag img {
    width: 7vh;
}

nav ul.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: #4F4F4F;
    line-height: 24px;
    font-size: 14px;
}

nav ul.nav-links li a.button {
    background: #2A579A;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 5px 27px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    nav {
        display: flex;
        height: 11vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    nav .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav .logo img {
        width: 11rem;
    }
    nav ul.nav-links {
        flex-direction: column;
        justify-content: flex-start;
        background: #FFF;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -80vw;
        width: 80vw;
        padding-top: 12vh;
        gap: 1rem;
        transition: all 350ms ease;
    }
    nav ul.nav-links.active {
        left: 0;
    }
    .hamburger {
        width: 1.75rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 99999999999999999999999999999999999999;
        left: 1.5rem;
        transition: all 350ms ease;
    }
    .hamburger.show-sidebar {
        animation: hamburgerShowSidebar 500ms ease;
        animation-fill-mode: forwards;
    }
    .hamburger.show-sidebar span {
        background: #FFF;
    }
    @keyframes hamburgerShowSidebar {
        0% {
            right: 0;
            left: unset;
        }
        100% {
            right: 1.5rem;
            left: unset;
        }
    }
    .hamburger.show-sidebar::after {
        content: '';
        animation: hamburgerBgAnimate 300ms ease;
        animation-fill-mode: forwards;
        z-index: -1;
    }
    @keyframes hamburgerBgAnimate {
        0% {
            right: 0;
            top: 0;
            width: 0%;
            position: fixed;
            height: 100vh;
            background: #2a579a3d;
        }
        100% {
            right: 0;
            top: 0;
            width: 20%;
            position: fixed;
            height: 100vh;
            background: #2a579a3d;
        }
    }
    .hamburger span {
        background: #2a579a;
        height: 2px;
        width: 100%;
    }
    .hamburger.show-sidebar span:nth-child(1) {
        transform: rotate(45deg) translateY(.6rem);
    }
    .hamburger.show-sidebar span:nth-child(2) {
        width: 0;
    }
    .hamburger.show-sidebar span:nth-child(3) {
        transform: rotate(-45deg) translateY(-.6rem);
    }
}


/** Hero **/

#hero .hero-cover {
    width: 100%;
    height: 88vh;
    margin-top: 12vh;
    background-size: cover;
    position: relative;
}

#hero.hero-content {
    position: absolute;
    top: 0;
}

#hero .hero-cover .inner-hero-cover {
    background: rgba(42, 87, 154, 0.6);
    width: 100%;
    height: 100%;
}

#hero .hero-cover .inner-hero-cover .teams-wrapper {
    display: flex;
    justify-content: flex-end;
}

#hero .hero-cover .inner-hero-cover .teams-wrapper .right-side-teams {
    width: 50%;
}

#hero .hero-cover .inner-hero-cover .wrapper-content {
    width: 50%;
    height: 100%;
    display: flex;
}

#hero .hero-cover .inner-hero-cover .bullets {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5.5px;
    height: 100%;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero .hero-cover .inner-hero-cover .bullets span.bullet-pointer {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background: #C4C4C4;
    cursor: pointer;
}

#hero .hero-cover .inner-hero-cover .bullets span.bullet-pointer.active {
    background: #2A579A;
    border: 1px solid #FFF;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper {
    margin-top: 1.3rem;
    position: absolute;
    bottom: 15%;
    left: 2rem;
    display: flex;
    gap: 1.3rem;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper a {
    color: #333;
    font-size: 16.5px;
    border-radius: 4px;
    background: #FFF;
    text-decoration: none;
    font-weight: 400;
    padding: .34rem 1.3rem;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper button {
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 16.5px;
    border-radius: 4px;
    background: unset;
    text-decoration: none;
    font-weight: 400;
    padding: .34rem .5rem;
    display: flex;
    align-items: center;
}

#hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper button img {
    margin-right: .5rem;
    width: 18px;
}

.atas-bullet {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.text-hero {
    padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
    #hero .hero-cover {
        height: 90vh;
        margin-top: 11vh;
    }
    #hero .hero-cover .inner-hero-cover {
        background: rgba(42, 87, 154, 0.6);
        width: 100%;
        height: 100%;
    }
    #hero .hero-cover .inner-hero-cover .wrapper-content {
        width: 100%;
        flex-direction: column;
    }
    #hero .hero-cover .inner-hero-cover .teams-wrapper .right-side-teams {
        width: 100%;
    }
    #hero .hero-cover .inner-hero-cover .bullets {
        position: static;
        left: unset;
        height: unset;
        top: unset;
        display: none;
    }
    .inner-atas-bullet {
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    #hero .hero-cover .text-hero {
        padding-left: 0px !important;
    }
    #hero .hero-cover .inner-hero-cover .bullets span.bullet-pointer {
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper {
        padding: 3rem 0;
        padding-left: unset;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper h2 {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper {
        gap: .8rem;
        width: 100%;
        left: 0;
        position: static;
        bottom: unset;
        top: 0;
        transform: translateY(-11.5rem);
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper a {
        font-size: 1rem;
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper button {
        font-size: 1rem;
    }
    #hero .hero-cover .inner-hero-cover .text-heading-wrapper .button-wrapper button img {
        margin-right: .4rem;
        width: 16px;
    }
}

#VissionMissionAboutPurposeSection {
    padding-top: 1.55rem;
    display: flex;
    gap: 8.6rem;
}

@media screen and (max-width: 1000px) {
    #VissionMissionAboutPurposeSection {
        padding-top: 1.15rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }
}


/** Vission Mission **/

#vission-mission {
    flex: .8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vission-mission .contain-wrapper {
    padding-bottom: 1rem;
}

#vission-mission .contain-wrapper h3 {
    font-weight: 600;
}

#vission-mission .contain-wrapper div {
    border-left: 3px solid #C4C4C4;
    padding-left: 3.05rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

#vission-mission .contain-wrapper div p {
    font-weight: 500;
    font-size: 15.75px;
    color: #828282;
    line-height: 22px;
}

#vission-mission button {
    align-self: flex-start;
    color: #4F4F4F;
    border: 1.5px solid #23467C;
    font-size: 15.5px;
    border-radius: 4px;
    background: unset;
    text-decoration: none;
    font-weight: 400;
    padding: .4rem 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

@media screen and (max-width: 1000px) {
    #vission-mission .contain-wrapper {
        padding-bottom: 1rem;
    }
    #vission-mission .contain-wrapper h3 {
        font-size: 1.1rem;
    }
    #vission-mission .contain-wrapper div {
        border-left: 3px solid #C4C4C4;
        padding-left: 1.25rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        margin-left: 1rem;
        gap: .8rem;
    }
    #vission-mission .contain-wrapper div p {
        font-size: .9rem;
        line-height: 1.2rem;
    }
    #vission-mission button {
        font-size: .93rem;
        margin-bottom: 0;
    }
}


/** About Purpose Media Section **/

#about-purpose-media-section {
    flex: 1;
}

#about-purpose-media-section .card-about {
    width: 80%;
    color: #FFF;
    display: flex;
    position: relative;
    border-radius: 20px;
    margin-top: -6.5rem;
}

#about-purpose-media-section .card-about .inner-card-about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    border-radius: 20px;
}

#about-purpose-media-section .card-about .inner-card-about .background-mult {
    mix-blend-mode: multiply !important;
    width: 100%;
    height: 100%;
    background: rgba(235, 87, 87, 1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#about-purpose-media-section .card-about .inner-text-card-about {
    z-index: 999;
    padding: 2.3rem 1.85rem;
    display: flex;
    flex-direction: column;
}

#about-purpose-media-section .card-about .inner-text-card-about h3 {
    font-size: 20px;
    font-weight: 600;
}

#about-purpose-media-section .card-about .inner-text-card-about p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 1rem;
    font-weight: 400;
}

#about-purpose-media-section .card-about .inner-text-card-about a {
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    margin-top: 1.15rem;
}

#about-purpose-media-section .purposes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.4rem;
    column-gap: .5rem;
    row-gap: 1.9rem;
}

#about-purpose-media-section .purposes-wrapper .purpose {
    display: flex;
}

#about-purpose-media-section .purposes-wrapper .purpose img {
    width: 75px;
}

#about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: .7rem;
}

#about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper h4 {
    font-weight: 500;
    font-size: 1rem;
}

#about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper p {
    font-family: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    margin-top: 4px;
}

#about-purpose-media-section .media-coverage {
    margin-top: 2.75rem;
}

#about-purpose-media-section .media-coverage h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

#about-purpose-media-section .media-coverage hr {
    margin-top: .5rem;
    border: none;
    height: 3px;
    width: 191px;
    background: #23467C;
}

#about-purpose-media-section .media-coverage .media-coverages-wrapper a {
    width: 200px;
    height: 85px;
    padding: 0 1rem;
}

#about-purpose-media-section .media-coverage .media-coverages-wrapper a img {
    width: 100% !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1000px) {
    #about-purpose-media-section .card-about {
        width: 100%;
        border-radius: 15px;
        flex-direction: column;
        margin-top: -9rem;
    }
    #about-purpose-media-section .card-about .inner-card-about {
        border-radius: 15px;
    }
    #about-purpose-media-section .card-about .inner-card-about .background-mult {
        border-radius: 15px;
    }
    #about-purpose-media-section .card-about .inner-text-card-about {
        padding: 1.4rem 1.2rem;
    }
    #about-purpose-media-section .card-about .inner-text-card-about h3 {
        font-size: 1.1rem;
    }
    #about-purpose-media-section .card-about .inner-text-card-about p {
        font-size: .9rem;
        line-height: 20px;
        margin-top: .85rem;
    }
    #about-purpose-media-section .card-about .inner-text-card-about a {
        font-size: 1rem;
        margin-top: .8rem;
    }
    #about-purpose-media-section .purposes-wrapper {
        grid-template-columns: 1fr;
        margin-top: 2rem;
        row-gap: 1.3rem;
    }
    #about-purpose-media-section .purposes-wrapper .purpose img {
        width: 50px;
    }
    #about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper {
        padding-left: .5rem;
    }
    #about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper h4 {
        font-size: 1rem;
    }
    #about-purpose-media-section .purposes-wrapper .purpose .text-purpose-wrapper p {
        font-size: .9rem;
        line-height: 17px;
        margin-top: 3px;
    }
    #about-purpose-media-section .media-coverage {
        margin-top: 1.75rem;
    }
    #about-purpose-media-section .media-coverage h3 {
        font-size: 1.2rem;
    }
    #about-purpose-media-section .media-coverage hr {
        margin-top: .5rem;
        width: 175px;
    }
    #about-purpose-media-section .media-coverage .media-coverages-wrapper a {
        width: 100px;
        height: 65px;
        padding: 0 .5rem;
    }
}


/** Portfolios And Reviews Container **/

#portfolios-and-reviews-container {
    margin-top: 3rem;
}

#portfolios-and-reviews-container .portfolios-categories-wrapper {
    display: flex;
}

#portfolios-and-reviews-container .portfolio-header {
    flex: 1.15;
}

#portfolios-and-reviews-container .portfolio-header h2 {
    font-weight: 600;
    font-size: 1.85rem;
}

#portfolios-and-reviews-container .portfolio-header ul {
    max-width: 50%;
    list-style: none;
    gap: 1.4rem;
    margin-top: 1.25rem;
}

#portfolios-and-reviews-container .portfolio-header ul li {
    font-weight: 400;
    font-size: .775rem;
    border-radius: 4px;
    color: #23467C;
    padding: .43rem 3.25rem;
    border: 1px solid #23467C;
    margin: 0 5px;
    cursor: pointer;
}

#portfolios-and-reviews-container .portfolio-header ul li.disabled {
    cursor: not-allowed;
}

#portfolios-and-reviews-container .portfolio-header ul li.active {
    color: #FFF;
    background: #23467C;
    border: none;
}

#portfolios-and-reviews-container .portfolio-header .white-space {
    flex: 1;
}

#portfolios-and-reviews-container #portfolios-and-reviews {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    gap: 4.65rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section {
    flex: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio {
    border-radius: 7.5px;
    border: 1px solid #ddd;
    padding: 20px 30px;
    background: #FFF;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio img.client-result {
    width: 100%;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-top: .5rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .portfolio-desc h3 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .portfolio-desc p {
    font-size: 10px;
    color: #333;
    margin-top: .1rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .client-logo {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #2A579A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .client-logo img {
    width: 22px;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .badges {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 5px;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .badges .badge {
    font-size: 10px;
    color: #333;
    display: flex;
    align-items: center;
}

#portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section .portfolio .body .badges .badge img {
    margin-right: 4px;
}

@media screen and (min-width: 1001px) {
    #portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section::after {
        content: '';
    }
}

@media screen and (max-width: 1000px) {
    #portfolios-and-reviews-container {
        margin-top: 1.5rem;
    }
    #portfolios-and-reviews-container .portfolios-categories-wrapper {
        display: flex;
    }
    #portfolios-and-reviews-container .portfolio-header {
        flex: 1.15;
    }
    #portfolios-and-reviews-container .portfolio-header h2 {
        font-size: 1.2rem;
    }
    #portfolios-and-reviews-container .portfolio-header ul {
        gap: .75rem;
        margin-top: 1rem;
        max-width: 100%;
    }
    #portfolios-and-reviews-container .portfolio-header ul li {
        padding: .43rem 2.75rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews {
        margin-top: 1.5rem;
        gap: 4.65rem;
        padding-right: 1.5rem;
        flex-direction: column;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section {
        display: unset;
        grid-template-columns: unset;
        gap: unset;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #portfolios-section::after {
        content: 'flickity';
        display: none;
    }
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section {
    flex: 1;
    background: #23467C;
    padding: 3rem 28px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section h1 {
    font-weight: 600;
    font-size: 36px;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review {
    display: flex;
    flex-direction: column;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 2rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .logo img {
    width: 100%;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .client-desc {
    color: #FFF;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .client-desc h4 {
    font-weight: 500;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .client-desc .description {
    display: block;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section .flickity-page-dots {
    position: relative;
    margin-top: 4.3rem;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section li.dot {
    flex: 1;
    opacity: 1;
    background: #C4C4C4 !important;
    height: 5px;
    cursor: pointer;
    width: 30px;
    border-radius: unset !important;
    margin-left: 4px;
    margin-right: 4px;
}

#portfolios-and-reviews-container #portfolios-and-reviews #review-section li.dot.is-selected {
    flex: 3;
    background: #000 !important;
}

#portfolios-and-reviews-container .show-more-portfolios {
    color: #4F4F4F;
    border: 1.5px solid #23467C;
    font-size: 15.5px;
    border-radius: 4px;
    background: unset;
    font-weight: 400;
    padding: .4rem 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    margin-top: 2.5rem;
}

@media screen and (max-width: 1000px) {
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section {
        padding: 1.85rem 28px;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section h2 {
        font-weight: 600;
        font-size: 1.1rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client {
        margin-top: 1.45rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .logo {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .client-desc h4 {
        font-size: 1rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review .client .client-desc .description {
        font-size: .95rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .reviews .review p {
        font-size: .9rem;
        margin-top: 2rem;
        padding: 0 0rem;
    }
    #portfolios-and-reviews-container #portfolios-and-reviews #review-section .flickity-page-dots {
        position: relative;
        margin-top: 3rem;
    }
    #portfolios-and-reviews-container .show-more-portfolios {
        font-size: .9rem;
        margin-top: 1.7rem;
    }
}


/** Service And Product **/

section#service-and-product {
    text-align: center;
    margin-top: 6rem;
}

section#service-and-product .tab-headers {
    display: inline-block;
    text-align: center;
}

section#service-and-product .tab-headers h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

section#service-and-product .tab-headers h2 span {
    cursor: pointer;
}

section#service-and-product .tab-headers h2 span:nth-child(1) {
    margin-right: .5rem;
}

section#service-and-product .tab-headers h2 span:nth-child(2) {
    margin-left: .5rem;
}

section#service-and-product .tab-headers .line-headers {
    width: 100%;
    display: flex;
    margin-top: .3rem;
}

section#service-and-product .tab-headers .line-headers span {
    height: 3px;
    flex: 1;
    background: #E5E5E5;
}

section#service-and-product .tab-headers .line-headers span.active {
    background: #23467C;
}

section#service-and-product .services-wrapper {
    margin-top: 3.5rem;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3.75rem;
    row-gap: 2.75rem;
}

section#service-and-product .services-wrapper.active {
    display: grid;
}

section#service-and-product .services-wrapper .service {
    border-radius: 20px;
    padding: 43px 28px;
    color: #FFF;
    text-align: left;
}

section#service-and-product .services-wrapper .service h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

section#service-and-product .services-wrapper .service p {
    font-weight: 400;
    font-size: .9rem;
    margin-top: 1.25rem;
    margin-bottom: 1.438rem;
}

section#service-and-product .services-wrapper .service a {
    color: #FFF;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
}

section#service-and-product .products-wrapper {
    margin-top: 3.5rem;
    display: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}

section#service-and-product .products-wrapper.active {
    display: grid;
}

section#service-and-product .products-wrapper .product {
    background: #23467C;
    border-radius: 20px;
    display: flex;
    padding: 1.5rem;
}

section#service-and-product .products-wrapper .product .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#service-and-product .products-wrapper .product .image img {
    width: 80%;
}

section#service-and-product .products-wrapper .product .text {
    flex: 1;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

section#service-and-product .products-wrapper .product .text h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

section#service-and-product .products-wrapper .product .text p {
    font-weight: 400;
    font-size: .9rem;
}

section#service-and-product .products-wrapper .product .text a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

@media screen and (min-width: 1001px) {
    section#service-and-product .products-wrapper.content-sp::after {
        content: '';
    }
}

@media screen and (min-width: 1001px) {
    section#service-and-product .services-wrapper.content-sp::after {
        content: '';
    }
}

@media screen and (max-width: 1000px) {
    section#service-and-product {
        margin-top: 2.5rem;
    }
    section#service-and-product .tab-headers h2 {
        font-size: 1.2rem;
    }
    section#service-and-product .services-wrapper {
        margin-top: 1.5rem;
        grid-template-columns: unset;
        display: none;
        column-gap: unset;
        row-gap: unset;
    }
    section#service-and-product .services-wrapper.content-sp::after {
        content: 'flickity';
        display: none;
    }
    section#service-and-product .services-wrapper .service {
        border-radius: 20px;
        padding: 35px 28px;
        color: #FFF;
        text-align: left;
        margin: 0 .5rem;
    }
    section#service-and-product .services-wrapper .service h3 {
        font-size: 1.1rem;
    }
    section#service-and-product .services-wrapper .service p {
        font-size: .9rem;
        margin-top: .85rem;
        margin-bottom: .75rem;
    }
    section#service-and-product .services-wrapper .service a {
        color: #FFF;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: none;
    }
    section#service-and-product .products-wrapper {
        margin-top: 1.5rem;
        grid-template-columns: unset;
        column-gap: unset;
        row-gap: unset;
    }
    section#service-and-product .products-wrapper.content-sp::after {
        content: 'flickity';
        display: none;
    }
    section#service-and-product .products-wrapper .product {
        flex-direction: column;
        padding: 1.5rem;
        margin: 0 .5rem;
    }
    section#service-and-product .products-wrapper .product .image img {
        width: 50%;
    }
    section#service-and-product .products-wrapper .product .text h3 {
        font-size: 1.1rem;
        margin-top: .3rem;
    }
    section#service-and-product .products-wrapper .product .text p {
        font-weight: 400;
        font-size: .9rem;
        margin-top: .85rem;
        margin-bottom: .75rem;
    }
}

.audio {
    position: fixed;
    bottom: .8rem;
    right: .8rem;
    width: 4rem;
    height: 8rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 909999999999999999999999999;
}

.audio div.button-wrap {
    z-index: 909999999999999999999999999;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 2px;
}

.audio div.button-wrap.button-wrap-audio {
    position: absolute;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    padding: 2px;
    background: #23467C;
}

.audio div.button-wrap:nth-child(1) {
    top: 0;
}

.audio div.button-wrap:nth-child(2) {
    bottom: 0;
}

.audio div.button-wrap:nth-child(3) {
    bottom: 0;
    z-index: 10 !important;
}

.audio div.button-wrap:nth-child(3) button {
    font-size: 35px;
}

.audio div.button-wrap.button-wrap-audio[open] {
    animation: popUp 300ms forwards;
}

.audio div.button-wrap.button-wrap-audio[close] {
    animation: popDown 300ms forwards;
}

.audio div.button-wrap button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: transparent;
    color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.audio div.button-wrap.button-wrap-audio button {
    border: 3px solid #FFF;
}

.audio div.button-wrap.button-wrap-back-to-top button {
    color: #23467C;
    font-size: 3.8rem;
}

.audio button img {
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .audio {
        bottom: .5rem;
        right: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        left: unset;
    }
    .audio div.button-wrap:nth-child(3) {
        right: 3.25rem !important;
    }
    .audio div {
        border-radius: 1.5rem;
    }
    .audio button {
        border-radius: 1.5rem;
        font-size: 1.75rem;
        border: 2px solid #FFF;
    }
    .audio div.button-wrap:nth-child(1) {
        top: unset;
        bottom: 3.75rem;
        right: 0 !important;
        width: 3rem;
        height: 3rem;
        left: 6.5px !important;
    }
}


/** Pricings **/

#pricings {
    display: grid;
    column-gap: 3.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
}

#pricings .slick-track {
    display: flex !important;
}

#pricings .slick-slide {
    height: inherit !important;
}

@media screen and (min-width: 1001px) {
    #pricings::after {
        content: '';
    }
}

#pricings .pricing {
    padding: 2.5rem 1.3rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    text-align: center;
    align-self: flex-start;
}

#pricings .pricing.active {
    border: solid 3px #2a579a;
    border-radius: 10px;
    transform: scale(1.05);
}

#pricings .pricing .head {
    text-align: center;
    width: 100%;
}

#pricings .pricing .head h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
}

#pricings .pricing .head p {
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin-top: .6rem;
}

#pricings .pricing .price-area {
    margin-top: 1.5rem;
}

#pricings .pricing .price-area .strike-price {
    font-size: 1.05rem;
    font-weight: normal;
    color: #d4202c;
    text-decoration: line-through;
    text-align: left;
}

#pricings .pricing .price-area .real-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pricings .pricing .price-area .real-price h3 {
    font-size: 1.75rem;
    color: #333;
    font-weight: normal;
}

#pricings .pricing .price-area .real-price span {
    font-size: 14px;
    color: #828282;
}

#pricings .pricing .features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-top: 1.5rem;
}

#pricings .pricing .features .feature {
    padding: 4px 9px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(211, 211, 211, 0.25);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#pricings .pricing .features .feature.active {
    cursor: default;
}

#pricings .pricing .features .feature .title-feature {
    color: #2a579a;
    border-left: 2px solid #2a579a;
    font-size: 16px;
    font-weight: 500;
    padding-left: .56rem;
}

#pricings .pricing .features .feature span i {
    color: #2a579a;
    font-weight: 500;
    font-size: 1.8rem;
}

#pricings .pricing .features ul.sub_features {
    display: none;
    flex-direction: column;
    list-style: none;
}

#pricings .pricing .features ul.sub_features.active {
    display: flex;
}

#pricings .pricing .features ul.sub_features li.sub_feature {
    padding: 12px 19px;
    border-top: 1px solid #F2F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    text-align: left;
}

#pricings .pricing .features ul.sub_features li.sub_feature .title-sub-feature {
    flex: 1.5;
    font-size: 14px;
    color: #4f4f4f;
}

#pricings .pricing .features ul.sub_features li.sub_feature .title-sub-feature span {
    font-size: 12px;
    display: block;
    margin-top: .1rem;
}

#pricings .pricing .features ul.sub_features li.sub_feature .vendor {
    flex: 1;
    display: flex;
    align-items: center;
    gap: .55rem;
}

#pricings .pricing .features ul.sub_features li.sub_feature .vendor img {
    width: 90%;
}

#pricings .pricing .features ul.sub_features li.sub_feature .vendor i {
    color: #444;
}

#pricings .pricing button.purchase-now {
    padding: .41rem 2rem;
    border-radius: 30px;
    border: solid 1px #2a579a;
    font-size: 1rem;
    text-align: center;
    color: #2a579a;
    margin: auto;
    background: transparent;
    margin-top: 2.75rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #pricings {
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        gap: 1.75rem;
        width: 100%;
        overflow-x: hidden;
        padding: 0 2.5rem !important;
    }
    #pricings::after {
        content: 'flickity';
        display: none;
    }
    #pricings .pricing {
        width: 100%;
        padding: 2.25rem 1.3rem;
        margin: 0 .5rem;
    }
    #pricings .pricing.active {
        transform: unset;
    }
    #pricings .pricing .head h2 {
        font-size: 1.2rem;
    }
    #pricings .pricing .head p {
        font-size: .9rem;
        margin-top: .5rem;
    }
    #pricings .pricing .price-area {
        margin-top: 1.2rem;
    }
    #pricings .pricing .price-area .strike-price {
        font-size: 1rem;
    }
    #pricings .pricing .price-area .real-price h3 {
        font-size: 1.5rem;
    }
    #pricings .pricing .price-area .real-price span {
        font-size: .9rem;
    }
    #pricings .pricing .features {
        gap: .7rem;
        margin-top: 1rem;
    }
    #pricings .pricing .features .feature .title-feature {
        font-size: 1rem;
    }
    #pricings .pricing .features ul.sub_features li.sub_feature {
        padding: 10px 17px;
        gap: .5rem;
    }
    #pricings .pricing .features ul.sub_features li.sub_feature .title-sub-feature {
        font-size: .9rem;
    }
    #pricings .pricing .features ul.sub_features li.sub_feature .title-sub-feature span {
        font-size: .8rem;
    }
    #pricings .pricing button.purchase-now {
        margin-top: 2.45rem;
    }
}

footer#footer {
    margin-top: 7.5rem;
    background: #2A579A;
    padding-top: .9rem;
    padding-bottom: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}

footer#footer .copyright {
    flex: 4;
    font-weight: 400;
    font-size: 14px;
}

footer#footer ul.nav-links {
    flex: 1.5;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer#footer ul.nav-links li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    color: #FFF;
}

@media screen and (max-width: 1000px) {
    footer#footer {
        margin-top: 2.5rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
    footer#footer .copyright {
        font-size: .85rem;
    }
    footer#footer ul.nav-links {
        display: none;
    }
}


/* Modal Dialog CS */

.modal-dialog-cs {
    position: fixed;
    right: 8rem;
    bottom: 3rem;
    width: 25rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 8px;
    z-index: 999;
}

.modal-dialog-cs[open] {
    animation: popUp 300ms forwards;
}

.modal-dialog-cs[close] {
    animation: popDown 300ms forwards;
}

.modal-dialog-cs .modal-head {
    background: #23467C;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.3rem;
}

.modal-dialog-cs .modal-head h3 {
    font-weight: 600;
}

.modal-dialog-cs .modal-head .text-head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-dialog-cs .modal-head .text-head-wrap {
    color: #FFF;
}

.modal-dialog-cs .modal-head .btn-head-wrap button {
    background: transparent;
    display: flex;
    align-items: center;
    color: #FFF;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.modal-dialog-cs .modal-head .btn-head-wrap button img {
    width: 25px;
}

.modal-dialog-cs .modal-head p {
    font-size: 15px;
    color: #EAEAEA;
    margin-top: .4rem;
}

.modal-dialog-cs .modal-body {
    padding: 1.3rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.modal-dialog-cs .modal-body .card-modal-body {
    border: 2px solid #23467C;
    border-radius: 8px;
    padding: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.modal-dialog-cs .modal-body .card-modal-body .icon-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-dialog-cs .modal-body .card-modal-body .icon-area img {
    width: 100%;
}

.modal-dialog-cs .modal-body .card-modal-body .icon-area .bullet {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #16D405;
    bottom: 3px;
    border-radius: 6px;
    right: 0;
}

.modal-dialog-cs .modal-body .card-modal-body .text-area {
    flex: 5;
}

.modal-dialog-cs .modal-body .card-modal-body p {
    color: #23467C;
    font-size: 15px;
    line-height: 22px;
}

@media screen and (max-width: 1000px) {
    .modal-dialog-cs {
        position: fixed;
        right: 1rem;
        left: 1rem;
        bottom: 4rem;
        width: unset;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
        border-radius: 8px;
        z-index: 999;
    }
    .modal-dialog-cs .modal-head h3 {
        font-weight: 600;
        font-size: 15px;
    }
    .modal-dialog-cs .modal-head p {
        font-size: 13px;
    }
    .modal-dialog-cs .modal-body .card-modal-body p {
        color: #23467C;
        font-size: 13px;
        line-height: 19px;
    }
}